body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    color: darkblue;
}
h2{
    font-size: 30px;
    color:darkblue
}


.first-section {
    display: flex;
    padding-bottom: 40px;

    
}
.introduction{
    width: 50%;
    padding-left: 5px;
    
    
    
}
.introduction img{
    width: 70%;

}
.introduction .big-image{
    width: 40%;
}
.click-button{
    background-color: orange;
    text-decoration: none;
    padding: 8px 16px;
    border-radius:50px;
    box-shadow: 2px 3px 8px gray;

}

.company-name{
    color:orange;
}


.second-section{
    display: flex;
}

