body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    color: darkblue;
}
h2{
    font-size: 30px;
    color:white;
}
h3{
    font-size: 20px;
    color:darkblue
}


.first-section {
    display: flex;
    margin-left: 20px;

    
}
.introduction{
    width: 50%;
    padding-left: 5px;
    
    
    
}
.introduction img{
    width: 70%;

}
.introduction .big-image{
    width: 50%;
}
.click-button{
    background:linear-gradient(tomato, orange);
    text-decoration: none;
    color:white;
    font-weight: 5px;
    padding: 8px 16px;
    border-radius:50px;
    box-shadow: 2px 3px 8px gray;
    cursor: pointer;
    display: inline-block;

}

.company-name{
    color:orange;
}


.second-section{
    display: flex;
    padding-left: 10px;
    background-image: url(images/background.png);
}

.second-section p{
    color:white
}
.center{
    text-align:center ;


}

.picture-decoration{
    display: flex;
}

.picture-decoration img{
    width:100%;
    border-radius:15px;
}

.recipies-menu {
    width:20%;
    margin-left:10%;
    padding: 5px;
    box-shadow: 8px 4px 20px gray;
    border-radius: 15px;
}
 


footer{
    background-color: darkgrey;

}
